* {
  margin: 0;
  background: -webkit-linear-gradient(left, #4ca2cd, #67b26f);
  font-family: 'Raleway', sans-serif;
}

.form {
  text-align: center;
}

.input {
  background: white;
  margin: 0 auto;
}

.button {
  color: white;
  background: none;
  margin-left: 1rem;
}

.text {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 3rem;
  height: 10rem;
}

.status-message {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.list {
  margin: 0 auto;
  color: white;
  width: 250px;
  list-style: none;
  text-align: left;
  background: none;
  padding-left: 0;
}

.list-items {
  background: inherit;
  text-align: left;
}
